<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Create new topic</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<body>
<h2>Create new topic</h2>
<form action="/" method="post" accept-charset="utf-8">
<p><input type="submit" value="Create"></p>
</form>
<p><a href="/admin">Administration</a></p>
<p><small>This application was build by <a href="http://zhware.net/">Stoyan Zhekov</a>.
<a href="http://github.com/zh/pushsub/">Sources</a> are available on GitHub.</small></p>
</body>
</html>
